---
layout: default
---
<div class="posts">
  {% for post in site.posts %}
    {% if post.categories contains 'Podcast' %}
      <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="entry">
          {{ post.content }}
        </div>
        <div class="date">
          <!-- Geschrieben am -->
            {% assign m = post.date | date: "%-m" %}
            {{ post.date | date: "%-d." }}
            {% case m %}
              {% when '1' %}Januar
              {% when '2' %}Februar
              {% when '3' %}M&auml;rz
              {% when '4' %}April
              {% when '5' %}Mai
              {% when '6' %}Juni
              {% when '7' %}Juli
              {% when '8' %}August
              {% when '9' %}September
              {% when '10' %}Oktober
              {% when '11' %}November
              {% when '12' %}Dezember
            {% endcase %}
            {{ post.date | date: "%Y" }}
        </div>

        <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> -->
      </article>
    {% endif %}
  {% endfor %}
</div>
