---
layout: default
---

{% include galheader.html %}

<h1>{{ gallery.description }}</h1>

<!-- {{ content }} -->

{% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}
    <h1>{{ gallery.description }}</h1>
    {{ content }}
    <ol>
    {% for image in gallery.images %}
      {% if image.show %}
        <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
          <img src="{{ gallery.imagefolder }}/{{ image.thumb }}">
        </a>
      {% else %}
        <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}" style="display: none;">
          <img src="{{ gallery.imagefolder }}/{{ image.thumb }}">
        </a>
      {% endif %}
    {% endfor %}
    </ol>
  {% endif %}
{% endfor %}
